body{
	background-image: url(1.webr);
	background-size: cover;
	background-repeat: no-repeat;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}